a {
  font: Arial;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: red;
  color: black;
}

body {
  background-color: #E6EF5D;
  font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 60%;
    height:auto;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#list {
  background-color: white;
  border-bottom: 6px solid red;
  margin-right: 1000px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar li {
  float: right;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: red;
}

.active {
  background-color: red;
}

#back {
  text-align: left;
  background-color: red;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  color: black;
  font-weight: bold;
  font-size: 15px;
  margin-right: 1400px;
}

#back:hover {
  background-color: red;
  color: black;
}
